@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  background-color: rgb(14, 13, 13);
  color: rgb(255, 255, 255);
  font-family: 'SOYOMapleBoldTTF';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.EC-mark {
  width: 70px;
  height: auto;
  transition: width 0.3s ease-in-out;
}

@media (min-width: 576px) {
  .EC-mark {
    width: 70px;
  }
}

@media (min-width: 768px) {
  .EC-mark {
    width: 90px;
  }
}

@media (min-width: 992px) {
  .EC-mark {
    width: 100px;
  }
}

@media (min-width: 1200px) {
  .EC-mark {
    width: 100px;
  }
}